requests
pandas
numpy
beautifulsoup4
selenium
fitz
pymupdf
pandas_datareader
yfinance
langchain
langchain_community
langchain-ollama
openai
matplotlib
python-dateutil
tiktoken
wordcloud
python-dotenv
scikit-learn
seaborn
adjustText
faiss-cpu
boto3